In [ ]:
import math

number_cup_of_te = 8
cup_with_milk_first = 4
cup_tea_first= 4

ways = math.comb(number_cup_of_te,cup_with_milk_first)

print(ways)